<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright © 2020 By Geeks Empire.
  ~
  ~ Created by Elias Fazel on 3/29/20 1:00 PM
  ~ Last modified 3/29/20 12:59 PM
  ~
  ~ Licensed Under MIT License.
  ~ https://opensource.org/licenses/MIT
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="net.geeksempire.floating.widgets">

    <dist:module
        dist:instant="false"
        dist:title="@string/floatingWidget">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module>

    <application
        android:allowBackup="true"
        android:appCategory="productivity"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher_adaptive"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_adaptive_round"
        android:screenOrientation="sensorPortrait"
        android:theme="@style/GeeksEmpire">


    </application>

</manifest>