/.gradle/
/.idea/
/.settings/
/.project
/FloatIt_PRO.iml
/Firebase/.vscode/
/FloatItPhone/.settings/
/FloatItPhone/build/
/FloatItPhone/src/main/res/values/strings_private.xml
/FloatItPhone/.classpath
/FloatItPhone/.project
/FloatItWatch/.settings/
/FloatItWatch/build/
/FloatItWatch/.classpath
/FloatItWatch/.project
/LicenseLibrary/.settings/
/LicenseLibrary/build/
/LicenseLibrary/.classpath
/LicenseLibrary/.project
/build/
